* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #fff; /*for debugging */
}

.menu-container {
    color: #fff;
    background-color: beige;
    padding: 5px 0;
    display: flex;
    justify-content: center;
}

.menu {
    width: 900px;
    display: flex;
}

.logo {
    flex: 2;
}

.me {
    flex: initial;

}
  
.gallery {
    flex: initial;
}


img.menu-item {
    max-width: 65px;
    height: 100%; 
    object-fit: contain;
    padding: 5px 2px;
}