* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .menu-container {
    color: #fff;
    background-color: beige;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
  }

  .menu {
    border: 1px solid #fff; /*for debugging */
    width: 900px;
    
  }

  img .menu {
    max-width: 10px;
    height:auto;
  }